.my-snackbar {
    margin-top: 50px;
    margin-right: 20px;
}

.form-control:focus {
    box-shadow: none;
}

.error_style {
    border: 1px solid red;
}

.form-text {
    color: red;
}

.login_container {
    border: 1px solid #dddddd;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 20px;
    width: 400px;
    margin: auto;
}

@media screen and (max-width: 600px) {
    .login_container {
        width: 90%;
    }
}